:root {
  --primary-color: rgb(24, 151, 215);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(34, 34, 34);
}

body {
  background-color: rgb(248, 248, 248);
}

p {
  color: rgb(41, 41, 41);
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 18px;
  padding: 8px 25px;
  max-width: fit-content;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.btn-primary:hover {
  filter: brightness(90%);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 18px;
  padding: 8px 25px;
  max-width: fit-content;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.btn-primary:hover {
  filter: brightness(90%);
}

section {
  margin: 15px 8%;
}

.sect-title {
  font-size: 3rem;
  margin-bottom: 6rem;
}

/*HERO*/

header {
  display: flex;
  flex-direction: column;
  margin: 15px 8%;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
}

#scroll {
  color: rgb(68, 68, 68);
  letter-spacing: 1rem;
  margin-top: 8rem;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

#hero p {
  font-size: 1.2rem;
}

#hero_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero_principal h2 {
  font-size: 5rem;
}

#slogan {
  position: absolute;
  top: 150px;
  right: 0;
  z-index: -1;
}

.double-button {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

/*ABOUTME*/

#about_me p {
  font-size: 1.1rem;
  max-width: 800px;
}

/*PROJECTS*/

#projects {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.card {
  max-width: 438px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 13px;
  background: linear-gradient(rgb(223, 223, 223), rgb(207, 207, 207));
  box-shadow: 0 0px 15px rgb(0, 0, 0);
}

.card aside {
  color: gray;
}

.card img {
  max-width: 400px;
  border-radius: 13px;
}

.sided {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.sided p {
  max-width: 366px;
  font-size: 2rem;
}
